<script>
  import { crossfade, fade } from "svelte/transition";
  import { quintOut } from "svelte/easing";
  import viewsComponents from "views";
  import { view } from "store";
  $: coponent = viewsComponents[$view];
  const [send, receive] = crossfade({
    duration: d => Math.sqrt(d * 200),
    fallback(node, params) {
      const style = getComputedStyle(node);
      const transform = style.transform === "none" ? "" : style.transform;
      return {
        duration: 200,
        css: t => `transform: ${transform} scale(${1 / t}); opacity: ${t}`
      };
    }
  });
</script>

{#each [0] as _ ($view)}
  <div class="container" in:receive={{ key: $view }}>
    <svelte:component this={coponent} />
  </div>
{/each}

<style>
  :global(:root) {
    --primary: #b72104;
    --secondary: #fd9900;
    --text: #36474f;
    --team1: #e62d03;
    --team2: #fd9900;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    height: 100%;
  }
  :global(body) {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    width: 100%;
  }
  :global(body:after) {
    content: "";
    background-image: url(/images/wtf.png);
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  :global(#sapper) {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    width: 100%;
  }
  .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
  }
</style>
