<script>
  import { teams, goodsCount } from "../store";
  import { startGame } from "../store/actions";
  import Text from "../components/Text.svelte";
  import Button from "../components/Button.svelte";
  import Slider from "../components/Slider.svelte";
  import Block from "../components/Block.svelte";
  import Spacer from "../components/Spacer.svelte";
  $: team1 = $teams[0];
  $: team2 = $teams[1];
</script>

<Text center>Выберите названия команд</Text>
<Block>
  <Text type="label">Команда 1</Text>
  <Spacer />
  <Button on:click={team1.changeName()}>{$team1.name}</Button>
  <Spacer />
  <Text type="label">Команда 2</Text>
  <Spacer />
  <Button type="secondary" on:click={team2.changeName()}>{$team2.name}</Button>
  <Spacer />
  <Text type="body2" center>Нажмите на название, чтобы изменить</Text>
</Block>

<div>
  <Text type="subtitle" center>Выберите количество товаров</Text>
  <Spacer />
  <Text center>{$goodsCount}</Text>
  <Spacer />
  <Slider bind:value={$goodsCount} />
</div>

<Button on:click={startGame}>Начать игру</Button>
