<script>
  import { view } from "../store";
  import { VIEWS } from "../store/constants";
  import Logo from "../assets/Logo.svelte";
  import Button from "../components/Button.svelte";
  import Spacer from "../components/Spacer.svelte";
</script>

<div class="logo">
  <Logo />
</div>

<div class="buttons">
  <Button on:click={() => view.set(VIEWS.GAME_SETUP)}>Играть</Button>
  <Spacer size={32} />
  <Button on:click={() => view.set(VIEWS.RULES)} type="secondary">
    Правила
  </Button>
</div>

<style>
  .logo {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .buttons {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
