<script>
  import { good } from "../store";
  import Text from "../components/Text.svelte";
</script>

<div class="container">
  <Text center>
    {$good.type === 'GESTURE' ? 'Покажите жестами' : 'Прочтите описание товара'}
  </Text>
</div>

<style>
  .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
