<script>
  import { teams } from "../store";
  import { newGame } from "../store/actions";
  import Text from "../components/Text.svelte";
  import Button from "../components/Button.svelte";
  import Spacer from "../components/Spacer.svelte";

  $: team1 = $teams[0];
  $: team2 = $teams[1];
  $: winner = $team1.score > $team2.score ? team1 : team2;
</script>

<Spacer />
{#if $team1.score === $team2.score}
  <Text>Ничья!</Text>
{:else}
  <div>
    <Text center>Победила комнада:</Text>
    <Text center color={$winner.color}>{$winner.name}</Text>
  </div>
{/if}
<div>
  <Text center>Счет:</Text>
  <Spacer />
  <Text color={$team1.color} center>{$team1.name}: {$team1.score}</Text>
  <Spacer />
  <Text color={$team2.color} center>{$team2.name}: {$team2.score}</Text>
</div>
<Button on:click={newGame}>Новая игра</Button>
