<script>
  import { view } from "store";
  import { VIEWS } from "store/constants";
  import Button from "components/Button.svelte";
  import Text from "components/Text.svelte";
  import Spacer from "components/Spacer.svelte";
</script>

<div class="rulesContainer">
  <Text center>Правила игры</Text>
  <Spacer />
  <Text type="body2">
    Разделитесь на две команды, выберите названия и количество товаров для
    отгадывания
  </Text>
  <Spacer />
  <Text type="body2">
    Команда, которая ходит первой, отдает телефон объясняющему. После нажатия
    кнопки "Поехали" будет показан способ объяснения товара:
  </Text>
  <Spacer />
  <Text type="body2">
    1. Объясните жестами. Игрок должен жестами объяснить товар.
    Использовать слова нельзя.
  </Text>
  <Spacer />
  <Text type="body2">
    2. Прочтите описание. Игрок должен прочитать описание товара.
    Использовать дополнительные слова нельзя
  </Text>
  <Spacer />
  <Text type="body2">
    После объяснения команда пытается отгадать, что это за товар
  </Text>
  <Spacer />
  <Text type="body2">
    Объясняющий может отвечать "да" или "нет" на уточняющие вопросы
    команды
  </Text>
  <Spacer />
  <Text type="body2">
    Когда команда отгадала, жмите "Отгадали", за это начисляется 1 очко. После
    этого товар останется на экране, и можно всей командой посмотреть на эту
    дичь
  </Text>
  <Spacer />
  <Text type="body2">Если время истекло - ход переходит другой команде</Text>
  <Spacer />
  <Text type="body2">
    Когда товары закончатся, побеждает команда, которая отгадала больше
    товаров
  </Text>
  <Spacer />
  <Text center>Спорные ситуации</Text>
  <Spacer />
  <Text type="body2">
    Мы собрали разнообразную дичь в этом приложении, и не всегда можно
    однозначно описать, что это жесть. Поэтому нажатие кнопки "Отгадали"
    остается на совести объясняющего.
  </Text>
  <Spacer />
  <Text type="body2">
    Если не согласны с результатом, то выдохните и посмотрите на эту жесть с алика.
  </Text>
</div>
<Spacer size={16}/>
<Button on:click={() => view.set(VIEWS.INTRO)}>Ясно-понятно</Button>

<style>
  .rulesContainer {
    width: 100%;
  }
</style>
