<script>
  import { startTurn } from "../store/actions";
  import { view, activeTeam } from "../store";
  import { VIEWS } from "../store/constants";
  import Text from "../components/Text.svelte";
  import Button from "../components/Button.svelte";
  import Close from "../components/Close.svelte";
  import Spacer from "../components/Spacer.svelte";
  import Block from "../components/Block.svelte";
  $: team = $activeTeam;
</script>

<Spacer />
<Block>
  <Text>Ход команды</Text>
  <Spacer size={16} />
  <Text color={$team.color}>{$team.name}</Text>
  <Spacer size={16} />
  <Text>Готовы?</Text>
</Block>
<Button on:click={startTurn}>Поехали</Button>
<Close />
