<script>
  import { good, turnState, activeTeam } from "../store";
  import { fade } from "svelte/transition";
  import { TURN_STATE } from "../store/constants";
  import { guessed, timeIsUp, nextTurn } from "../store/actions";
  import Text from "../components/Text.svelte";
  import Button from "../components/Button.svelte";
  import Spacer from "../components/Spacer.svelte";
  import Timer from "../components/Timer.svelte";
  import Close from "../components/Close.svelte";
  import GoodLink from "../components/GoodLink.svelte";

  let innerHeight = 600;
  $: team = $activeTeam;
  let imageContainerRef = null;
  let imageHeight = "";
  $: if (imageContainerRef) {
    const { width } = getComputedStyle(imageContainerRef);
    imageHeight = parseInt(width) - (innerHeight < 600 ? 650 - innerHeight: 0);
  }
  $: image = $good.image;
</script>

<div class="card">
  <div
    class="imageContainer"
    bind:this={imageContainerRef}
    style={imageHeight ? `height: ${imageHeight}px` : ''}>
    <img
      class="imageBlur"
      alt="product blur background"
      src={$image.base64}
      style={imageHeight ? `height: ${imageHeight}px;` : ''} />
    <img
      class="image"
      alt="product"
      src={$image.base64}
      style={imageHeight ? `height: ${imageHeight}px; width: ${imageHeight}px;` : ''} />
  </div>
  <div class="content">
    <div class="description">
      <Text type="body2">{$good.description}</Text>
    </div>

    {#if $turnState === TURN_STATE.START}
      <div class="timerContainer">
        <Text center>
          {$good.type === 'WORD' ? 'Прочтите описание' : 'Покажите жестами'}
        </Text>
        <Timer on:timerend={timeIsUp} />
      </div>
    {:else}
      <div class="scoreContainer" transition:fade|local>
        <Text center>Счет команды: {$team.score}</Text>
      </div>
    {/if}

  </div>
</div>
<Spacer size={16} />
<div class="bottomButtons">
  {#if $turnState === TURN_STATE.START}
    <Button on:click={guessed}>Отгадали</Button>
  {:else}
    <Button on:click={nextTurn}>Передать ход</Button>
    <GoodLink url={$good.url} />
  {/if}
</div>

<Close />

<svelte:window bind:innerHeight />

<style>
  .imageBlur {
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(50px);
    width: 100%;
  }
  .scoreContainer {
    height: 48px;
    padding: 8px;
  }
  .bottomButtons {
    display: flex;
    width: 100%;
  }
  .card {
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    overflow: auto;
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .imageContainer {
    position: relative;
    overflow: hidden;
  }

  .image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .description {
    padding: 8px;
    flex-grow: 1;
  }
  .timerContainer {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
  }
</style>
