<script>
  export let type = "primary";
</script>

<button on:click class={`button ${type}`}>
  <slot />
</button>

<style>
  .button {
    display: block;
    width: 100%;

    color: #ffffff;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    font-size: 24px;
    padding: 16px;
    outline: none;
    cursor: pointer;
    min-height: 60px;
    box-sizing: border-box;
  }
  .primary {
    background: var(--primary);
  }

  .primary:active,
  .primary:focus {
    background: #a31c02;
    outline: 0;
  }
  .primary:hover {
    background: #d9472b;
  }
  .secondary {
    background: var(--secondary);
  }

  .secondary:active,
  .secondary:focus {
    background: #e88c00;
    outline: 0;
  }
  .secondary:hover {
    background: #fbb954;
  }
</style>
