<script>
  import { fade, slide } from "svelte/transition";
  import Close from "../assets/Close.svelte";
  import Text from "./Text.svelte";
  import Button from "./Button.svelte";
  import Spacer from "./Spacer.svelte";
  import { close } from "../store/actions";
  let isOpen = false;
  const toggle = () => (isOpen = !isOpen);
</script>

<button class="closeButton" on:click={toggle}>
  <Close />
</button>
{#if isOpen}
  <div class="overlay" out:fade|local>
    <div class="modal" transition:fade|local>
      <Text center>Завершить игру?</Text>
      <Spacer size={32} />
      <div class="buttons">
        <Button type="secondary" on:click={close}>Да</Button>
        <div class="spacer" />
        <Button on:click={toggle}>Нет</Button>
      </div>
    </div>
  </div>
{/if}

<style>
  .closeButton {
    border: none;
    outline: none;
    position: fixed;
    right: 10px;
    top: 16px;
    background: none;
    cursor: pointer;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
  }
  .modal {
    background: #ffffff;
    border: 1px solid #bebcbc;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    padding: 24px;
    margin: 8px;
  }
  .buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .spacer {
    width: 32px;
  }
</style>
