<script>
  import { goodClick } from "store/actions";
  import Cart from "../assets/Cart.svelte";
  import Text from "./Text.svelte";

  export let url = "";
</script>

<a href={url} class="link" target="_blank" on:click={() => goodClick(url)}>
  <div class="cart">
    <Cart />
  </div>
</a>

<style>
  .link {
    display: flex;
    border-radius: 20px;
    position: relative;
    background: var(--primary);
    color: white;
    min-width: 60px;
    min-height: 60px;
    max-height: 60px;
    max-width: 60px;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    animation: heartbeat 1.5s ease-in-out infinite both;
  }
  .link:hover {
    background: #d9472b;
  }
  .cart {
    height: 32px;
    width: 32px;
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: center center;
      transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
      transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
      transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  }
</style>
