<script>
  export let value = 10;
</script>

<input type="range" bind:value min={10} max={30} step={1} />

<style>
  /* RESET */
  input[type="range"] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type="range"]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

  input[type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  /* RESET */

  /* PICKER */
  /* Special styling for WebKit/Blink */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 30px;
    border-radius: 5px;
    background: #b72104;
    cursor: pointer;
    margin-top: -4px;
  }

  /* All the same stuff for Firefox */
  input[type="range"]::-moz-range-thumb {
    height: 16px;
    width: 30px;
    border-radius: 5px;
    background: #b72104;
    cursor: pointer;
  }

  /* All the same stuff for IE */
  input[type="range"]::-ms-thumb {
    height: 16px;
    width: 30px;
    border-radius: 5px;
    background: #b72104;
    cursor: pointer;
  }

  /* PICKER */

  /* SLIDER */
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: rgba(183, 33, 4, 0.5);
    border-radius: 5px;
  }

  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: rgba(183, 33, 4, 0.5);
  }

  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: rgba(183, 33, 4, 0.5);
    border-radius: 5px;
  }

  input[type="range"]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type="range"]::-ms-fill-lower {
    background: rgba(183, 33, 4, 0.5);
    border-radius: 5px;
  }
  input[type="range"]:focus::-ms-fill-lower {
    background: #3071a9;
  }
  input[type="range"]::-ms-fill-upper {
    background: rgba(183, 33, 4, 0.5);
    border-radius: 5px;
  }
  input[type="range"]:focus::-ms-fill-upper {
    background: rgba(183, 33, 4, 0.5);
  }
  /* SLIDER */
</style>
