<script>
  export let type = "title"; //title | body | body2
  export let center = false;
  export let color = null;
</script>

<div
  class={`text ${type}`}
  style={color ? `color: var(${color})` : ''}
  class:center>
  <slot />
</div>

<style>
  .title {
    color: var(--primary);
    font-size: 24px;
    font-weight: bold;
  }
  .subtitle {
    color: var(--primary);
    font-weight: bold;
    font-size: 20px;
  }
  .label {
    font-size: 14px;
    color: var(--primary);
  }
  .body {
    font-size: 16px;
    color: var(--primary);
  }
  .center {
    text-align: center;
  }
  .body2 {
    font-size: 16px;
    color: var(--text);
  }
</style>
