<script>
  import { onMount, createEventDispatcher, onDestroy } from "svelte";
  import { TURN_TIME, VIEWS } from "../store/constants";
  import { view } from "../store";
  let time = TURN_TIME;
  let updateId = null;
  const dispatch = createEventDispatcher();
  const updateTimer = () => {
    time -= 10;
    if (time === 0) {
      dispatch("timerend", null);
      return;
    }
    updateId = setTimeout(updateTimer, 10);
  };
  onMount(() => {
    if ($view !== VIEWS.TURN) return;
    updateTimer();
  });
  onDestroy(() => {
    clearTimeout(updateId);
  });

  $: percent = (time / TURN_TIME) * 100;
  $: seconds = Math.ceil(time / 1000);
</script>

<div class="timerContainer">
  <svg viewBox="0 0 36 36" class="timerSvg">
    <path
      class="timerBackground"
      d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0
      -31.831"
      fill="none"
      stroke-width="1"
      stroke-dasharray="100, 100" />
    <path
      class="timer"
      d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0
      -31.831"
      fill="none"
      stroke="#444"
      stroke-width="2"
      stroke-dasharray={`${percent}, 100`} />

    <text x="18" y="23" class="text" text-anchor="middle">{seconds}</text>
  </svg>
</div>

<style>
  .timerBackground {
    stroke: #fd9900;
  }
  .timerContainer {
    width: 48px;
    height: 48px;
  }
  .text {
    fill: var(--primary);
  }
  .timer {
    stroke: var(--primary);
    stroke-linecap: round;
  }
</style>
