<svg
  width="20"
  height="20"
  viewBox="0 0 20 20"
  fill="none"
  xmlns="http://www.w3.org/2000/svg">
  <path
    d="M4.18883 0.746971L9.99144 6.55315L15.7976 0.746971C18.0684 -1.52376
    21.5463 1.89312 19.2433 4.19618L13.4407 9.99876L19.2433 15.8049C21.5104
    18.0685 18.0612 21.5177 15.7976 19.2506L9.99144 13.448L4.18883
    19.2506C1.92169 21.5177 -1.52395 18.0685 0.739607 15.8049L6.5458
    9.99876L0.739607 4.19618C-1.52395 1.92904 1.92169 -1.52017 4.18883 0.746971Z" />
</svg>

<style>
  path {
    fill: rgba(183, 33, 4, 0.5);
  }
  path:hover {
    fill: rgba(183, 33, 4, 1);
  }
</style>
