<svg width="200" height="200" viewBox="0 0 200 200">
  <rect width="200" height="174.026" rx="40" fill="#FD9900" />
  <rect y="25.974" width="200" height="174.026" rx="40" fill="#E62D03" />
  <ellipse cx="60.1818" cy="70.7792" rx="18.8312" ry="25.3247" fill="#B72104" />
  <ellipse cx="135.909" cy="82.4675" rx="7.14286" ry="13.6364" fill="#B72104" />
  <path
    d="M57.5046 170.138L59.61 159.009H62.8219L59.3522 174.649H56.1081L53.5622
    164.186L51.0163 174.649H47.7721L44.3024 159.009H47.5143L49.6305
    170.116L52.2087 159.009H54.9372L57.5046 170.138ZM68.0856
    160.169V163.026H70.0729V165.304H68.0856V171.104C68.0856 171.534 68.168
    171.842 68.3327 172.028C68.4974 172.214 68.8125 172.308 69.278
    172.308C69.6217 172.308 69.9261 172.282 70.1911 172.232V174.585C69.5824
    174.771 68.9557 174.864 68.3112 174.864C66.1341 174.864 65.0241 173.765
    64.9811 171.566V165.304H63.2839V163.026H64.9811V160.169H68.0856ZM72.651
    174.649V165.304H70.9215V163.026H72.651V162.038C72.651 160.735 73.0234
    159.725 73.7682 159.009C74.5202 158.285 75.5693 157.924 76.9157
    157.924C77.3454 157.924 77.8717 157.995 78.4948 158.139L78.4626
    160.545C78.2048 160.48 77.8896 160.448 77.5173 160.448C76.3499 160.448
    75.7663 160.996 75.7663
    162.092V163.026H78.0758V165.304H75.7663V174.649H72.651ZM89.3014
    167.871H83.1139V172.06H90.3756V174.649H79.8913V159.009H90.3542V161.619H83.1139V165.347H89.3014V167.871ZM96.488
    166.496L98.443 163.026H101.762L98.4538 168.72L101.902
    174.649H98.5719L96.4987 170.997L94.4362 174.649H91.0954L94.5436
    168.72L91.2458 163.026H94.5758L96.488 166.496ZM113.718 168.945C113.718
    170.736 113.31 172.171 112.494 173.253C111.685 174.327 110.589 174.864
    109.207 174.864C108.032 174.864 107.083 174.456 106.36
    173.64V179.118H103.256V163.026H106.134L106.242 164.165C106.994 163.263
    107.975 162.811 109.185 162.811C110.618 162.811 111.731 163.341 112.526
    164.401C113.321 165.461 113.718 166.922 113.718 168.784V168.945ZM110.614
    168.72C110.614 167.638 110.421 166.804 110.034 166.217C109.654 165.629
    109.099 165.336 108.369 165.336C107.395 165.336 106.725 165.708 106.36
    166.453V171.212C106.74 171.978 107.416 172.361 108.39 172.361C109.873
    172.361 110.614 171.147 110.614 168.72ZM122.183 165.937C121.761 165.88
    121.388 165.852 121.066 165.852C119.892 165.852 119.122 166.249 118.757
    167.044V174.649H115.652V163.026H118.585L118.671 164.412C119.294 163.345
    120.157 162.811 121.259 162.811C121.603 162.811 121.925 162.858 122.226
    162.951L122.183 165.937ZM128.822 174.864C127.118 174.864 125.728 174.341
    124.654 173.296C123.587 172.25 123.053 170.857 123.053
    169.117V168.816C123.053 167.649 123.279 166.607 123.73 165.69C124.181
    164.767 124.819 164.058 125.642 163.563C126.473 163.062 127.418 162.811
    128.478 162.811C130.068 162.811 131.318 163.313 132.227 164.315C133.144
    165.318 133.602 166.74 133.602 168.58V169.848H126.201C126.301 170.607
    126.602 171.215 127.103 171.674C127.612 172.132 128.253 172.361 129.026
    172.361C130.222 172.361 131.157 171.928 131.83 171.061L133.355
    172.769C132.89 173.428 132.259 173.944 131.465 174.316C130.67 174.682
    129.789 174.864 128.822 174.864ZM128.467 165.325C127.852 165.325 127.35
    165.533 126.964 165.948C126.584 166.364 126.34 166.958 126.233
    167.731H130.551V167.484C130.537 166.797 130.351 166.267 129.993
    165.894C129.635 165.515 129.126 165.325 128.467 165.325ZM141.67
    171.437C141.67 171.058 141.48 170.761 141.1 170.546C140.728 170.324 140.126
    170.127 139.296 169.955C136.531 169.375 135.149 168.2 135.149
    166.432C135.149 165.4 135.575 164.541 136.427 163.853C137.287 163.159
    138.408 162.811 139.79 162.811C141.265 162.811 142.443 163.159 143.324
    163.853C144.212 164.548 144.656 165.45 144.656 166.56H141.551C141.551
    166.116 141.408 165.751 141.122 165.465C140.835 165.171 140.388 165.024
    139.779 165.024C139.256 165.024 138.852 165.143 138.565 165.379C138.279
    165.615 138.135 165.916 138.135 166.281C138.135 166.625 138.297 166.904
    138.619 167.119C138.948 167.327 139.5 167.509 140.273 167.667C141.047
    167.817 141.698 167.989 142.228 168.183C143.868 168.784 144.688 169.826
    144.688 171.309C144.688 172.368 144.233 173.228 143.324 173.887C142.414
    174.538 141.24 174.864 139.8 174.864C138.826 174.864 137.96 174.692 137.201
    174.349C136.449 173.998 135.858 173.521 135.428 172.92C134.999 172.311
    134.784 171.656 134.784 170.954H137.727C137.756 171.505 137.96 171.928
    138.34 172.222C138.719 172.515 139.228 172.662 139.865 172.662C140.459
    172.662 140.907 172.551 141.208 172.329C141.516 172.1 141.67 171.803 141.67
    171.437ZM152.992 171.437C152.992 171.058 152.802 170.761 152.423
    170.546C152.05 170.324 151.449 170.127 150.618 169.955C147.854 169.375
    146.471 168.2 146.471 166.432C146.471 165.4 146.897 164.541 147.75
    163.853C148.609 163.159 149.73 162.811 151.112 162.811C152.587 162.811
    153.765 163.159 154.646 163.853C155.534 164.548 155.978 165.45 155.978
    166.56H152.874C152.874 166.116 152.73 165.751 152.444 165.465C152.158
    165.171 151.71 165.024 151.101 165.024C150.578 165.024 150.174 165.143
    149.887 165.379C149.601 165.615 149.458 165.916 149.458 166.281C149.458
    166.625 149.619 166.904 149.941 167.119C150.271 167.327 150.822 167.509
    151.595 167.667C152.369 167.817 153.021 167.989 153.55 168.183C155.19
    168.784 156.01 169.826 156.01 171.309C156.01 172.368 155.556 173.228 154.646
    173.887C153.737 174.538 152.562 174.864 151.123 174.864C150.149 174.864
    149.282 174.692 148.523 174.349C147.771 173.998 147.18 173.521 146.751
    172.92C146.321 172.311 146.106 171.656 146.106 170.954H149.049C149.078
    171.505 149.282 171.928 149.662 172.222C150.041 172.515 150.55 172.662
    151.187 172.662C151.782 172.662 152.229 172.551 152.53 172.329C152.838 172.1
    152.992 171.803 152.992 171.437Z"
    fill="#FAFDF8" />
  <rect
    x="54.174"
    y="118.423"
    width="25.974"
    height="6.49351"
    rx="3.24675"
    transform="rotate(40 54.174 118.423)"
    fill="white" />
  <rect
    x="84.3244"
    y="118.225"
    width="26.3736"
    height="6.49351"
    rx="3.24675"
    transform="rotate(41.4685 84.3244 118.225)"
    fill="white" />
  <rect
    x="64.8953"
    y="135.077"
    width="26.2681"
    height="6.49351"
    rx="3.24675"
    transform="rotate(-40 64.8953 135.077)"
    fill="white" />
  <rect
    x="95.4545"
    y="135.119"
    width="25.974"
    height="6.49351"
    rx="3.24675"
    transform="rotate(-40 95.4545 135.119)"
    fill="white" />
  <rect
    x="126.623"
    y="135.119"
    width="25.974"
    height="6.49351"
    rx="3.24675"
    transform="rotate(-40 126.623 135.119)"
    fill="white" />
  <rect
    x="114.926"
    y="118.182"
    width="26.8378"
    height="6.49351"
    rx="3.24675"
    transform="rotate(40 114.926 118.182)"
    fill="white" />
</svg>
